.idea/*
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
mysql-8/\#ib_16384_0.dblwr
mysql-8/\#ib_16384_1.dblwr
mysql-8/\#innodb_redo/\#ib_redo5
mysql-8/\#innodb_temp/temp_1.ibt
mysql-8/\#innodb_temp/temp_10.ibt
mysql-8/\#innodb_temp/temp_2.ibt
mysql-8/\#innodb_temp/temp_3.ibt
mysql-8/\#innodb_temp/temp_4.ibt
mysql-8/\#innodb_temp/temp_5.ibt
mysql-8/\#innodb_temp/temp_6.ibt
mysql-8/\#innodb_temp/temp_7.ibt
mysql-8/\#innodb_temp/temp_8.ibt
mysql-8/\#innodb_temp/temp_9.ibt
mysql-8/ibdata1
mysql-8/ibtmp1
mysql-8/mysql.ibd
mysql-8/ourdatabase/accounts.ibd
mysql-8/undo_001
mysql-8/undo_002
