body{
    background-color: black;
    color: white;
    text-align: center;
}
.placeholder{
    margin: auto;
    width: 60%;
    border: 3px solid white;
    padding: 15%;
}
#navBar{
    padding: 15px;
    text-align: center;
}
#icon{
    width: 20%;
    float: left;
}
#SignIn{
    width: 20%;
    float: right;
}
#banner{
    width: 60%;
}