body{
    background-color: black;
    color: white;
    text-align: center;
}
h1{}

.placeholder{
    margin: auto;
    width: 60%;
    padding: 15%;
}
#navBar{
    padding: 15px;
    text-align: center;


}
#icon{
    width: 20%;
    float: left;
}
#iconImage{
    max-width: 100px;
}
#SignIn{
    width: 20%;
    float: right;
}
#banner{

    width: 60%;
}

